{% extends 'base.html' %}
{% block links %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'create_task' task.project.pk %}">Создать задачу</a>
    </li>
{% endblock %}

{% block content %}
    <h3>{{ task.description }}</h3>

    <h5 class="card-subtitle mb-2 text-body-secondary">Статус: {{ task.status.name }}</h5>

    <p>Типы:
        {% for type in task.types.all %}
            {{ type.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
            Типы задачи не установлены
        {% endfor %}</p>


    <p>{{ task.detailed_description }}</p>

    <p class="card-text">Дата создания: {{ task.created_at }}</p>
    <p class="card-text">Дата изменения: {{ task.updated_at }}</p>

    <a href="{% url 'update_task' task.pk %}" class="btn btn-primary">Изменить</a>
    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}