{% extends 'base.html' %}
{% block links %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task and project in request.user.projects.all %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_task' project.pk %}">Создать
                    задачу</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <h3 class="mb-3">Пользователи проекта {{ project.name }}</h3>

    {% if users %}
        <table class="table mb-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Пользователи не найдены</p>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_user_in_project and perms.webapp.delete_user_from_project and project in request.user.projects.all %}
            <a href="{% url 'webapp:manage_project_users' project.pk %}">Управление пользователями проекта</a>
        {% endif %}
    {% endif %}

    <h3 class="my-3">Задачи проекта {{ project.name }}</h3>

    <div class="cards d-flex row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for task in tasks %}
            <div class="col">
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.description }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.status }}</h6>
                        <p>Типы:
                            {% for type in task.types.all %}
                                {{ type.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                Типы задачи не установлены
                            {% endfor %}</p>

                        <a href="{% url 'webapp:task_detail' task.pk %}">Подробнее</a><br>
                        {% if request.user.is_authenticated %}
                            {% if perms.webapp.change_task and project in request.user.projects.all %}
                                <a href="{% url 'webapp:update_task' task.pk %}">Изменить</a><br>
                            {% endif %}
                            {% if perms.webapp.delete_task and project in request.user.projects.all %}
                                <a href="{% url 'webapp:delete_task' task.pk %}">Удалить</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Задачи не найдены</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
{% endblock %}